    <h1>Hola <%= user.name %>!</h1>
    <img src=<%= user.avatar %> alt="avatar" class="my-3" style="height: 160px">
    <ul>
        <li>Nombre: <%= user.name %></li>
        <li>Apellido: <%= user.lastname %></li>
        <li>email: <%= user.email %></li>
        <li>Dirección:  <%= user.address%></li>
        <li>Edad: <%= user.age %></li>
        <li>Teléfono movil: <%= user.phone %></li>
    </ul>
